@import "style.css";
@media only screen and (max-height: 620px) {
	.contact-bg {
		margin-top: -220vh;
	}
}

@media only screen and (max-width: 1200px) {
	.header-buttons {
		width: 50%;
	}	
}

@media only screen and (max-width: 960px) {
	.skills-bg, .contact-bg {
		height: 100%;
	}
	.skills-bg {
		margin-top: -50px;
	}
	.contact-bg {
		margin-top: -30px;
	}
}
@media only screen and (max-width: 900px) {
	h1 {
		font-size: 45px;
	}
	.header-buttons {
		width: 60%;
	}
	.portfolio-wrap .item .description {
		width: 90%;
		margin: auto;
		padding: 20px 0px;
	}
	.portfolio-wrap .item .description>span {
		font-size: 30px;
	}
	.portfolio-wrap .item .description>p {
		width: 100%;
	}
	.portfolio-wrap .item {
		flex-direction: column;
	}
	.portfolio-wrap .item .item-img {
		width: 100%;
		height: 47vw;
	}
}
@media only screen and (max-width: 820px) {
	h1 {
		font-size: 40px;
	}
	.portfolio-wrap .item .description>span {
		font-size: 25px;
	}
}
@media only screen and (max-width: 780px) {
	h1 {
		padding: 10px 50px;
	}
	.nav-block {
		margin-right: 0px;
	}
	.nav-block>a {
		padding: 10px 20px;
	}
}
@media only screen and (max-width: 670px) {
	.header-buttons {
		width: 70%;
	}
	.nav-block>a {
		padding: 10px 10px;
	}
}

@media only screen and (max-width: 590px) {
	.header-buttons {
		width: 60%;
	}
	.header-inset {
		display: none;
	}
	.header-description {
		width: 100%;
	}
	.about-text {
		width: 80%;
	}
	.about-text>a {
		padding: 15px 10px;
	}
	.nav-desk {
		display: none;
	}
	.nav-min {
		display: flex;
	}
	#nav-block {
    	width: 100%;
		text-align: right;
	}
	#nav-block .fas {
		color: #391c69;
	}
	nav {
		position: fixed;
		background-color: transparent;
		transition: background-color 0.5s;
	}
	.nav-name {
		visibility: hidden;
	}
	.b-popup {
	  width: 100vw;
	  min-height: 100%;
	  background-color: rgba(0, 0, 0, 0.94);
	  overflow: hidden;
	  position: fixed;
	  top: 0px;
	  left: 0px;
	  z-index: 999; 
	  visibility: hidden;
	  transition: visibility 0.5s;}

	.b-popup .b-popup-content {
	  margin: auto;
	  width: 100vw;
	  height: 100vh;
	  padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
	  .b-popup .b-popup-content .popup-content-close {
	    position: absolute;
	    right: 20px;
	    top: 0px; }
	    .close {
	    	right: 40px;
	    	top: 10px;
	    }
	    .close {
	      position: absolute;
	      width: 20px;
	      height: 20px; }
	      .close:hover:before, .close:hover:after {
	        background-color: #7249b7; }
	      .close:before, .close:after {
	        position: absolute;
	        left: 10px;
	        content: " ";
	        height: 27px;
	        width: 4px;
	        background-color: #fff; }
	       .close:before{
	        transform: rotate(45deg);
	       }
	        .close:after{
	        transform: rotate(-45deg);
	       }
	    .b-popup .b-popup-content .popup-content-list ul {
	      margin: 0px;
	      padding: 0px; }
	      .b-popup .b-popup-content .popup-content-list ul li {
	        list-style-type: none;
	        text-transform: uppercase;
	        text-align: center;
	        margin-bottom: 15px; 
	    	font-family: sans-serif;}
	        .b-popup .b-popup-content .popup-content-list ul li a {
	          color: #fff;
	          font-size: 20px; 
	          font-weight: 600;}
	        .b-popup .b-popup-content .popup-content-list ul li:hover a {
	          color: #7249b7; }
	.contact-block {
		width: 80%;
	}
	}

@media only screen and (max-width: 360px) {
	h1 {
		padding: 10px 20px;
		font-size: 35px;
	}
	.header-buttons {
    	width: 70%;
	}
}

@media print {
	.nav-desk {
		position: absolute;
		justify-content: center;
	}
	header, .button-top, .nav-block, .about-wrap>h2, .about-wrap>hr, .about-wrap>.about-img, #download, #skills, #portfolio, .social-buttons, .contact-bg {
		display: none;
	}
	.about-text {
		margin-bottom: 0px;
		margin-top: 100px;
	}
	.about-wrap, .contact-wrap {
		padding: 0px;
	}
	.contact-wrap, .contact-block {
		height: 10%;
	}
	footer, .nav-desk>p, .contact-wrap>h2, .tel>.fas, .tel>p, .email>.fas, .email>p{
		color: #000;
	}
}