@import url('https://fonts.googleapis.com/css?family=Kalam|Signika');

@keyframes my-opacity-transform{0%{transform:scale(0);opacity:0}10%{transform:scale(0.1);opacity:.1;transform:scale(0.1);opacity:.1}20%{transform:scale(0.2);opacity:.2}30%{transform:scale(0.3);opacity:.3}40%{transform:scale(0.4);opacity:.4}50%{transform:scale(0.5);opacity:.5}60%{transform:scale(0.6);opacity:.6}70%{transform:scale(0.7);opacity:.7}80%{transform:scale(0.8);opacity:.8}90%{transform:scale(0.9);opacity:.9}100%{transform:scale(1);opacity:1}}
@-webkit-keyframes my-opacity-transform{0%{transform:scale(0);opacity:0}10%{transform:scale(0.1);opacity:.1}20%{transform:scale(0.2);opacity:.2}30%{transform:scale(0.3);opacity:.3}40%{transform:scale(0.4);opacity:.4}50%{transform:scale(0.5);opacity:.5}60%{transform:scale(0.6);opacity:.6}70%{transform:scale(0.7);opacity:.7}80%{transform:scale(0.8);opacity:.8}90%{transform:scale(0.9);opacity:.9}100%{transform:scale(1);opacity:1}}

body, h1, h2, p, a {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Signika', sans-serif; 
}

a {
    text-decoration: none;
}

h1 {
    background-color: #221b23;
    color: #fff;
    font-size: 50px;
    padding: 10px 100px;
}
/* ***BUTTON TOP *** */
.button-top {
  position: absolute;
  z-index: 990;
  width: 400px;
  margin: 0 auto; 
}

#back-top {
  position: fixed;
  bottom: 30px;
  right: 5%;
  visibility: hidden; }
  #back-top .fas {
    font-size: 50px;
    color: #391c69;
    padding-right: 0px;
}
header {
    width: 100%;
    height: 100vh;
    background-color: #f0e0f7;
    overflow: hidden;
}

.header-wrap {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-description, .header-inset {
    position: relative;
} 
.header-inset {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}
.header-inset img {
    height: 85vh;
}
.header-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
}
.header-description>p{
    padding: 10px 45px;
    margin: -10px -75px 30px 0px;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    position: relative;
    font-family: 'Kalam', cursive;  
    z-index: 1;
}
.header-description>p:after{
    content: '';
    position: absolute;
    z-index: -1;
    border-right: 25px solid transparent;
    border-top: 40px solid #391c69;
    margin-top: -10px;
    width: 135px;
    margin-left: -115px;
}
.header-description>p:before{
    content: '';
    position: absolute;
    z-index: 2;
    border-right: 25px solid #391c69;
    border-top: 40px solid transparent;
    left: 10px;
    margin-top: -10px;
}
.header-buttons {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-buttons>a{
    position: relative;
    color: #0a0e0f;
    border: 1px solid #221b23;
    padding: 10px 15px;
    overflow: hidden;
    z-index: 0;
}
.header-buttons>a:before{
    content: '';
    border-right: 25px solid transparent;
    border-top: 60px solid #221b23;
    margin-left: -50px;
    position: absolute;
    z-index: -1;
    margin-top: -15px;
    width: 0px;
    transition: width 0.5s;
}
.header-buttons>a:hover {
    transition: color 0.8s;
    color: #f0e0f7;
}
.header-buttons>a:hover:before{
    width: 150px;
}
 nav {
    width: calc(100% - 60px);
    height: 10vh;
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #221b23;
    color:  #fff;
    padding: 0px 30px;
    position: sticky;
    top: 0;
    bottom: 0; 
    z-index: 990;
}
nav>p{
    font-size: 25px;
}
.nav-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}
.nav-block>a{
    text-transform: uppercase;
    padding: 10px 30px;
    color: #fff;
    border: 1px solid transparent;
}
.nav-block>a:hover, button:hover {
    background-color: #f0e0f7;
    border: 1px solid #391c69;
    color: #391c69;
    transition: background-color 0.5s, border 0.5s;
}
.nav-block>a:active, .nav-block>a:focus, button:active, button:focus {
    background-color: #391c69;
    border: 1px solid #391c69;
    color: #f0e0f7;
    outline: none;
}
.nav-min {
    display: none;
}
article {
    position: relative;
    z-index: 1;
}
h2 {
    color: #221b23;
}
hr {
    border: 1px solid #391c69;
    width: 65px;
    background: #391c69;
    margin-bottom: 20px;
}
section {
    position: relative;
    overflow: hidden;
}
.about-wrap, .skills-wrap, .portfolio-wrap, .contact-wrap, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;      
}
.about-wrap, .skills-wrap, .portfolio-wrap {
    padding-top: 11vh;
}
.about-wrap {
    width: 100%;
    background-color: #f0e0f7;
}
.about-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    background-image: url(../img/myphoto.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px 0px
}
.about-text {
    width: 60%;
    text-align: center;
    margin-bottom: 50px;
    visibility: hidden;
}
.about-text>p {
    font-family: 'Kalam', cursive;
    text-align: justify;
    padding-top: 15px;
    font-size: 18px;
}
.about-text>a {
    position: relative;
    text-transform: uppercase;
    color: #391c69;
    padding: 15px 60px;
    border: 1px solid #391c69;
}
.about-text>a:hover {
    transition: color 0.5s, background-color 0.5s;
    color: #f0e0f7;
    background-color: #391c69;
}
.hi{
    text-align: center;
}
.fas {
    padding-right: 15px;
}

.skills-wrap {
    background-color: rgba(239,223,247,0.9);
    position: relative;
}
.skills-bg, .contact-bg {
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: -1;
}
.skills-bg {
    background-image: url(../img/back.jpg);
    margin-top: -100vh;
    height: 100vw;
}
.skills-block{
    width: 70%;
    margin-top: 30px;
}
button {
    background-color: #221b23;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #221b23;
}
.button-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
}
.skills-block-wrap>p {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Kalam', cursive;
}
/*Изотоп закончился*/
.element-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.05); }
  .element-item > * {
    margin: 0;
    padding: 0; }
  .element-item:hover {
    opacity: 0.75; }
  .element-item .name {
    position: absolute;
    font-size: 17px;
    line-height: 1;
    color: #000;
    font-family: 'Kalam', cursive; }
  .element-item.templateers {
    background: #0c4de4; }
  .element-item.taskManagers {
    background: #ffb13b; }
  .element-item.bandlers {
    background: #ccff00; }    
  .element-item.language {
    background: #fb4297;}
  .element-item.frameworksJS {
    background: #33ff00; }
  .element-item.pluginsJS {
    background: #d85bd4; }
  .element-item.preprocessorsCSS {
    background: #00ff66; }
  .element-item.frameworksCSS {
    background: cyan; }
  .element-item.layout {
    background: #8d72f9;}
  .element-item.platform {
    background: #930acc;}
/*Изотоп закончился*/

.portfolio-wrap {
    background-color: #f0e0f7;
}
.portfolio-wrap .item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.portfolio-wrap .item .item-img {
    width: 55%;
    height: 26vw;
    margin: auto;
}
.arkodan, .consultmarketing, .barbershop, .cable-shop, .agency, .teploradiator, .grid-project {
    background-repeat: no-repeat;
    background-size: contain;
}
.portfolio-wrap .item .arkodan {
    background-image: url(../img/arkodan.jpg);
}
.portfolio-wrap .item .consultmarketing {
    background-image: url(../img/consultmarketing.jpg);
}
.portfolio-wrap .item .barbershop {
    background-image: url(../img/barber.jpg);
}
.portfolio-wrap .item .cable-shop {
    background-image: url(../img/cable-shop.jpg);
}
.portfolio-wrap .item .teploradiator {
    background-image: url(../img/teploradiator.jpg);
}
.portfolio-wrap .item .agency {
    background-image: url(../img/agency.jpg);
}
.portfolio-wrap .item .grid-project {
    background-image: url(../img/grid.jpg);
}
.portfolio-wrap .item .description {
    width: 45%;
    margin: auto;
    text-align: center;
}
.portfolio-wrap .item .description>h4 {
    font-family: 'Kalam', cursive;  
    color: #391c69;
    font-size: 34px;
    margin: 0px;
}
.portfolio-wrap .item .description>p {
    color: #221b23;
    text-align: justify;
    width: 80%;
    padding-bottom: 10px;
    margin: auto;
}
.contact-wrap {
    background-color: rgba(34,27,35, 0.8);
    height: 50vh;
    position: relative;
}
.contact-wrap>h2, .tel>p, .tel>i, .email>p, .email>i, .social-buttons>a {
    color: #fff;
}
.contact-bg {
    background-image: url(../img/code.jpg);
    margin-top: -150vh; 
    height: 130vh;
}
.contact-block {
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.tel, .email {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.tel>p, .email>p {
    font-size: 18px;
}
.fas {
    font-size: 25px;
}
.fab {
    font-size: 40px;
}
.social-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
footer {
    position: relative;
    z-index: 989;
    background-color: #221b23;
    font-family: 'Kalam', cursive;  
    color: #fff;
    font-size: 22px;    
    height: 5vh;
    justify-content: center;
}
